{:paths ["src" "test"]
 :deps
 {
  fooheads/hide-clj {:git/url "https://github.com/fooheads/hide-clj.git"
                         :sha "ac65b065d3d7aaf363947b3b29a05e8dde39d22b"}
  clojure-msgpack/clojure-msgpack {:mvn/version "1.2.0"}
  mvxcvi/puget {:mvn/version "1.3.1"}
  org.clojure/core.async {:mvn/version "1.1.587"}
  org.clojure/tools.namespace {:mvn/version "1.4.4"}
  com.widdindustries/time-literals {:mvn/version "0.1.10"}}

 :aliases
 {:dev {:extra-deps
        {fooheads/hide-clj {:local/root "../hide-clj"}}}
  :hide {:main-opts ["-m" "fooheads.hide-nvim"]}


  :test {:extra-paths ["test/src"]
         :extra-deps
         {lambdaisland/kaocha {:mvn/version "0.0-573"}
          lambdaisland/kaocha-junit-xml {:mvn/version "0.0-70"}}

         :main-opts  ["-m" "kaocha.runner"
                      "--plugin" "capture-output"
                      "--plugin" "junit-xml"
                      "--junit-xml-file" "test-results/kaocha/unit-test-result.xml"]}}}

